<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SQLiteConnection"
			 connectionString="Data Source=d:\TestDB\ControleVeiculos\System.db;Cache=Shared"
			 providerName="Microsoft.Data.Sqlite" />
		<add name="PostgreSQLConnection"
			 connectionString="Host=localhost;Port=5432;Username=meuusuario;Password=minhasenha;Database=meubanco;"
			 providerName="Npgsql" />
	</connectionStrings>
	<appSettings>
		<add key="DatabaseProvider" value="SQLite" />
	</appSettings>
</configuration>